.header{
    background-image: url(../../image/header-main-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 1040px;
    display: flex;
}
.header__main{
    display: flex;
    justify-content: space-between;
    margin: 72px 0 0 0 ;
}
.main__menu{

}
.menu__list{
    display: flex;
    justify-content: start;
}
.list__item{
    list-style:none;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0 26px 0 26px;
}

.main__number{
    display: flex;
}
.number__img{
    margin: 0 10px 0 0;
}
.number__contact{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.header__welcome{
    margin: 152px 0 0 0 ;
    font-family: 'Balqis';

}
.welcome__text{

}
.text__main{
    
}
.main__item{
    font-style: italic;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 250px;
    line-height: 334px;
}
.text__secendory{
    position: relative;
    width: 500px;
    height: 66px;
    left: 680px;
    bottom: 65px;
    
}
.secendory__item{
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
}